<div id="<%= dom_id content %>">
  <p>
    <strong>Name:</strong>
    <%= content.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= content.body %>
  </p>

  <p>
    <strong>File:</strong>
    <%= content.file %>
  </p>

</div>
